.challenge-list-item {

  font-size: 1.2rem;
  position: relative;
  width: 100%;
  box-sizing: border-box;;
  margin: 0px;
  cursor: pointer;
  height: 70px;

  a {
    text-align: center;
    color: #fff;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: $lato-black;
  }


  &__smooth-angle-top,
  &__smooth-angle-bottom {
    position: absolute;
    right: 0;
    display: none;
  }

  &__smooth-angle-top {
    top: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 300px;
    border-color: transparent transparent white transparent;
  }

  &__smooth-angle-bottom {
    bottom: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 300px 15px 0;
    border-color: transparent white transparent transparent;

  }
}

.challenge-list-item--active {
  background: white;
  a {
    color: $deep-purple;
  }
  .challenge-list-item__smooth-angle-top,
  .challenge-list-item__smooth-angle-bottom {
    display: block;
  }
}
