.challenge-shell {
  padding: 100px;
  line-height: 1.6;

  &__part {
  }

  &__description {
    margin-bottom: 50px;
  }

  &__title {
    font-size: 40px;
    font-family: $lato-black;
    margin-bottom: 20px;
  }

  &__subtitle {
  }

  &__rules {
    display: block;
    padding: 20px 0;

    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}
